@import 'typography';

.mb-photo {
  $overlay-background-color: #333;
  $overlay-hover-opacity: 0.8;
  $overlay-padding: 8px;

  $flickr-right-arrow: '\2192';

  $image-max-height: 90vh;
  $image-hover-opacity: 0.7;

  $opacity-transition: opacity 0.25s ease-in-out;

  display: inline-block;
  position: relative;

  .mb-photo__image {
    display: block;
    max-height: $image-max-height;
    max-width: 100%;
    opacity: 1;
  }

  .mb-photo__overlay {
    background-color: $overlay-background-color;
    bottom: 0;
    display: flex;
    left: 0;
    opacity: 0;
    padding: $overlay-padding;
    position: absolute;
    width: 100%;

    @include font-color-light();
  }

  .mb-photo__overlay__title {
    display: inline;
    flex: 1;

    @include font-heading-4();
  }

  .mb-photo__overlay__flickr-link {
    @include font-smaller();

    &::after {
      content: $flickr-right-arrow;
    }
  }

  &:hover {
    .mb-photo__overlay {
      opacity: $overlay-hover-opacity;
    }

    .mb-photo__image {
      opacity: $image-hover-opacity;
    }

    .mb-photo__overlay,
    .mb-photo__image {
      transition: $opacity-transition;
    }
  }
}

