@import "typography";

$image-max-height: 90vh;

.mb-photo {
  $infoline-background-color: #f7f7f7;
  $infoline-padding: 8px;

  $flickr-right-arrow: "\2192";

  display: inline-block;
  position: relative;

  .mb-photo__image {
    display: block;
    max-height: $image-max-height;
    max-width: 100%;
  }

  .mb-photo__infoline {
    background-color: $infoline-background-color;
    display: flex;
    padding: $infoline-padding;
    width: 100%;
  }

  .mb-photo__infoline__title {
    display: inline;
    flex: 1;

    @include font-heading-4();
  }

  .mb-photo__infoline__flickr-link {
    @include font-smaller();

    &::after {
      content: $flickr-right-arrow;
    }
  }
}

// Also do for all images to get images in markdown
img {
  display: block;
  max-height: $image-max-height;
  max-width: 100%;
}
