@import "typography";

.mb-playlist {
  $alt-background-color: #f7f7f7;
  $image-dimension: 64px;

  .mb-track {
    list-style-type: none;
    display: flex;
    height: $image-dimension + ($spacing-unit-px * 2);
    overflow: hidden;
  }

  .mb-track:nth-child(even) {
    background-color: $alt-background-color;

    .mb-track__index {
      color: white;
    }
  }

  .mb-track__image {
    margin: $spacing-unit;
    height: $image-dimension;
    width: $image-dimension;
  }

  .mb-track__text-box {
    margin: $spacing-unit $spacing-unit $spacing-unit 0;
    flex: 1;
  }

  .mb-track__name {
    @include font-heading-3();
  }

  .mb-track__index {
    font-size: 8em;
    margin-top: -0.4em;
    color: $alt-background-color;
  }
}
