html {
  background-color: #fff;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body,
* {
  margin: 0;
  padding: 0;
}

a:link,
a:visited {
  text-decoration: none;
}
