@import "breakpoint";

$font-color: #222;
$font-link-color: #551a8b;

$mobile-multipler: 1.125;
$font-size-base: 18px;
$m-font-size-base: $font-size-base * $mobile-multipler;
$font-size-heading-1: 4rem;
$m-font-size-heading-1: 2.75rem;
$font-size-heading-2: 1.25rem;
$font-size-heading-3: 1rem;
$font-size-smaller: 0.75rem;

$font-family-base: "fira-sans", Arial, sans-serif;
$font-family-heading-1: "fira-sans-2", Arial, sans-serif;
$font-family-heading-2: "fira-sans", Arial, sans-serif;
$font-family-code: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
  monospace;

$font-weight-heading-1: 400;
$font-weight-heading-2: 700;

@mixin font-size-base() {
  font-family: $font-family-base;
  font-size: $font-size-base;

  @media (max-width: $breakpoint-mobile-max-width) {
    font-size: $m-font-size-base;
  }
}

@mixin font-code() {
  font-family: $font-family-code;
  font-size: $font-size-smaller;
}

@mixin font-smaller() {
  font-family: $font-family-base;
  font-size: $font-size-smaller;
}

@mixin font-heading-1() {
  font-family: $font-family-heading-1;
  font-size: $font-size-heading-1;
  font-style: italic;
  font-weight: $font-family-heading-1;
  text-decoration: underline;

  @media (max-width: $breakpoint-mobile-max-width) {
    font-size: $m-font-size-heading-1;
  }
}

@mixin font-heading-2() {
  font-family: $font-family-heading-2;
  font-size: $font-size-heading-2;
  font-weight: $font-weight-heading-2;
}

@mixin font-heading-3() {
  font-family: $font-family-heading-2;
  font-size: $font-size-heading-3;
  font-weight: $font-weight-heading-2;
}

@mixin font-heading-4() {
  font-family: $font-family-heading-2;
  font-size: $font-size-smaller;
  font-weight: $font-weight-heading-2;
}

@mixin font-navigation-link() {
  font-family: $font-family-heading-2;
  font-size: $font-size-heading-3;
  font-style: italic;
  color: lighten($font-color, 10%);
}

@mixin font-color() {
  color: $font-color;
  a {
    color: $font-link-color;
  }
}
