@import 'breakpoint';

$font-color-dark: #222;
$font-color-light: #ddd;
$font-link-color-dark: #551a8b;
$font-link-color-light: #99f;

$mobile-multipler: 1.125;
$font-size-base: 16px;
$m-font-size-base: $font-size-base * $mobile-multipler;
$font-size-heading-1: 4rem;
$m-font-size-heading-1: 2.75rem;
$font-size-heading-2: 1.25rem;
$font-size-heading-3: 1rem;
$font-size-smaller: 0.75rem;

$font-family-base: Arial, sans-serif;
$font-family-heading-1: 'TrendSansFour', sans-serif;
$font-family-heading-2: 'TrendSansOne-Italic', sans-serif;

@mixin font-size-base() {
  font-family: $font-family-base;
  font-size: $font-size-base;

  @media (max-width: $breakpoint-mobile-max-width) {
    font-size: $m-font-size-base;
  }
}

@mixin font-smaller() {
  font-size: $font-size-smaller;
  font-family: $font-family-base;
}

@mixin font-heading-1() {
  font-family: $font-family-heading-1;
  font-size: $font-size-heading-1;

  @media (max-width: $breakpoint-mobile-max-width) {
    font-size: $m-font-size-heading-1;
  }
}

@mixin font-heading-2() {
  font-family: $font-family-heading-2;
  font-size: $font-size-heading-2;
}

@mixin font-heading-3() {
  font-family: $font-family-heading-2;
  font-size: $font-size-heading-3;
}

@mixin font-heading-4() {
  font-family: $font-family-heading-2;
  font-size: $font-size-smaller;
}

@mixin font-color-dark() {
  color: $font-color-dark;
  a {
    color: $font-link-color-dark;
  }
}

@mixin font-color-light() {
  color: $font-color-light;
  a {
    color: $font-link-color-light;
  }
}

