@import 'reset';
@import 'typography';

$leftside-width: 33%;
$rightside-width: 63%;
$between-column-margin: (100% - $leftside-width - $rightside-width) / 2;

html {
  @include font-size-base();
  @include font-color-dark();
}

body {
  display: flex;
}

.mb-leftside {
  width: $leftside-width;
  text-align: right;
  margin-right: $between-column-margin;

  .mb-leftside__logo {
    display: block;
    margin-top: 80px;

    @include font-color-dark();
    @include font-heading-1();
  }
}

.mb-navigation {
  float: right;
  width: 360px;
  text-align: right;
  position: sticky;
  top: 0;
  padding-top: 20px;

  .mb-navigation__item {
    margin-bottom: 20px;
    list-style-type: none;
  }

  .mb-navigation__main {
    .mb-navigation__link {
      @include font-heading-2();
      @include font-color-dark();
    }
  }

  .mb-navigation__other {
    border-top: 1px solid #969696;
    padding-top: 20px;
    font-size: $font-size-smaller;

    .mb-navigation__link {
      @include font-heading-3();
    }
  }
}

h2 {
  @include font-heading-3();
  @include font-color-dark();
  margin-bottom: 15px;
}

.mb-rightside {
  width: $rightside-width;
  margin-top: 20px;
}

.mb-content {
  p {
    max-width: 45rem;
    margin-bottom: 15px;
  }

  ul {
    margin-bottom: 15px;
    margin-left: 3rem;
  }
}

.mb-photos {
  ul li {
    margin-bottom: 20px;
    list-style-type: none;
  }
}

@import 'imagecontainer';
