@import 'reset';
@import 'destyle_list';
@import 'typography';

a:link,
a:visited {
  text-decoration: none;
}

html {
  @include font-base();
}

#leftside {
  width: 33%;
  float: left;
  text-align: right;
}

#logo {
  float: right;
  width: 360px;
  margin-top: 80px;

  a {
    @include font-heading-1();
    color: #222;
  }
}

#navigation {
  float: right;
  width: 360px;
  text-align: right;

  ul li {
    margin-bottom: 20px;
    list-style-type: none;
  }

  .navigation-link {
    @include font-heading-2();
    color: #222;
    text-decoration: none;
  }

  #navigation-other {
    border-top: 1px solid #969696;
    padding-top: 20px;
    font-size: $font-size-smaller;

    .navigation-link {
      @include font-heading-3();
    }
  }
}

#navigation-sticky {
  padding-top: 20px;
  width: 360px;
}

#navigation-sticky.stuck {
  position: fixed;
  top: 0;
}

h2 {
  @include font-heading-3();
  color: #222;
  margin-bottom: 15px;
}

#content {
  margin-left: 35%;
  width: 63%;
  margin-top: 20px;

  p {
    max-width: 45rem;
    margin-bottom: 15px;
  }

  ul {
    margin-bottom: 15px;
    margin-left: 3rem;
  }
}

#photos {
  @include destyle-list();
}

@import 'imagecontainer';
