.DS_Store
.env.local
.next
cdk.out
dist
node_modules
out-lonesome
out-share
generated
tsconfig.tsbuildinfo
yarn-error.log
.yarn
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

packages/website/pages
!packages/website/pages/404.tsx
!packages/website/pages/_*.tsx
