.DS_Store
.vscode
build
node_modules
output
.sass-cache
.env.local
.idea
*.js
!gatsby-config.js
!gatsby-node.js
!gatsby-browser.js
!tailwind.config.js
!postcss.config.js
!next.config.js
*.js.map
*.zip
cdk.out
.next
