.DS_Store
.vscode
build
node_modules
output
.sass-cache
.env
.idea
*.js
!gatsby-config.js
!gatsby-node.js
!gatsby-browser.js
!tailwind.config.js
!postcss.config.js
*.js.map
*.zip
public
.cache
cdk.out
