@import "tailwindcss/base";

@layer base {
  /* Set base font-size */
  :root {
    font-size: 14px;
  }

  /* Override base outline styles into one consistent one */
  *:not(body):focus {
    @apply outline-none ring-4 ring-accent-dark ring-opacity-100;
  }

  .dark *:not(body):focus {
    @apply ring-accent-light;
  }

  html {
    @apply text-dark bg-light;
  }

  .dark {
    @apply text-light bg-dark;
  }

}
