@import "tailwindcss/components";

@layer components {
  .external-link:after {
    content: "→";
  }

  .striped-list-element {
    min-height: 6rem;

    a {
      min-height: 6rem;
    }

    * {
      @apply z-10;
    }

    .striped-index {
      @apply z-0 text-light;
    }

    :nth-child(odd) .striped-index {
      @apply text-light-1;
    }
  }

  .dark .striped-list-element {
    .striped-index {
      @apply text-dark;
    }

    :nth-child(odd) .striped-index {
      @apply text-dark-1;
    }
  }

  .prose img {
    @apply border-r-4 border-accent-dark max-h-95vh;
    margin-left: calc(theme("spacing.4") * -1);
    max-width: 100vw;

    @screen md {
      margin-left: calc(theme("spacing.8") * -1);
    }
  }

  .dark .dark\:prose-dark img {
    @apply border-accent-light;
  }

  /* Override prismjs background color to ensure its accessible */
  /* purgecss ignore */
  .prose pre[class*="language-"] {
    background-color: #101010;
  }
}
