@import "tailwindcss/utilities";

@layer utilities {
  .max-h-95vh {
    max-height: 95vh;
  }

  .max-w-65ch {
    max-width: 65ch;
  }

  .underline-accent-light {
    text-decoration-color: theme("colors.accent-light.DEFAULT");
  }

  .underline-accent-dark {
    text-decoration-color: theme("colors.accent-dark.DEFAULT");
  }

}
