@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .max-h-90vh {
    max-height: 90vh;
  }

  .underline-green-500 {
    text-decoration-color: theme('colors.green.500')
  }
}

@layer components {
  .external-link:after {
    content: "→";
  }

  .max-width-block {
    @apply max-w-3xl mt-0 mb-4;
  }

  .full-screen-block {
    @apply max-w-full max-h-90vh;
  }

  .striped-list-element > * {
    @apply z-10
  }

  .striped-list-element > .striped-index {
    @apply z-0 text-white;
  }

  .striped-list-element:nth-child(odd) > .striped-index {
    @apply text-gray-100;
  }
}
