@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .max-h-95vh {
    max-height: 95vh;
  }

  .max-w-65ch {
    max-width: 65ch;
  }

  .underline-green-500 {
    text-decoration-color: theme('colors.green.500')
  }
}

@layer components {
  .external-link:after {
    content: "→";
  }

  .striped-list-element > * {
    @apply z-10
  }

  .striped-list-element > .striped-index {
    @apply z-0 text-white;
  }

  .striped-list-element:nth-child(odd) > .striped-index {
    @apply text-gray-100;
  }

  .prose img {
    @apply border-r-4 border-purple-500 max-h-95vh;
    margin-left: calc(theme('spacing.4') * -1);
    max-width: 100vw;
  }

  @screen md {
    .prose img {
      margin-left: calc(theme('spacing.8') * -1)
    }
  }
}
